<div>
    <form novalidate ng-submit="addExpense()">
        <h1 class="h3 mb-3 font-weight-normal">Добавить Трату</h1>

        <input class="form-control" type="number" hidden ng-model="expense.id">


        <div class="form-group col-md-6">
            <label for="buyer">buyer</label>
            <input type=text ng-model="expense.buyer" id="buyer" class="form-control">
        </div>


        <div class="form-group col-md-6">
            <label for="expenseDate">expenseDate</label>
            <input type="date" ng-model="expense.expenseDate" id="expenseDate" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>
<!--            <input type="date" ng-model="expense.expenseDate" id="expenseDate" class="form-control">-->
        </div>


        <div class="form-group col-md-6">
            <label for="comment">comment</label>
            <input type="text" ng-model="expense.comment" id="comment" class="form-control">
        </div>


        <div class="form-group col-md-6">
            <label for="totalExpenseSum">totalExpenseSum</label>
            <input type="number" ng-model="expense.totalExpenseSum" id="totalExpenseSum" class="form-control">
        </div>


        <div>
            <button class="btn btn-success" type="submit">Добавить</button>
        </div>
    </form>
</div>