<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>
<body>
<div class="container">
    <div ng-controller="indexController">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<!--            <a class="navbar-brand" href="#">DOE</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item" ng-show="!isUserLoggedIn()">
                        <form class="align-middle" ng-submit="tryToAuth()">
                            <div class="input-group-prepend">
                                <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 5px;">
                                <input id="navPasswordField" class="form-control" ng-model="user.password"
                                       type="password"
                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 5px;">
                                <button id="navLoginSubmit" class="btn btn-outline-light btn-sm align-middle"
                                        style="margin-left: 5px;" type="submit">Войти
                                </button>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item" ng-if="isUserLoggedIn()">
                        <button class="btn btn-outline-light align-middle" ng-click="tryToLogout()">{{currentUserName}} logout
                        </button>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#!/">Главная <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#!/events" ng-if="isUserLoggedIn()">Мои события</a>
                    </li>

                </ul>
            </div>
        </nav>

    </div>
    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="home/home.js"></script>
    <script src="events/events.js"></script>
    <script src="event/event.js"></script>
    <script src="eventAdd/addEvent.js"></script>
    <script src="expenses/expenses.js"></script>
    <script src="expense/expense.js"></script>
    <script src="expenseAdd/addExpense.js"></script>

</div>
</body>
</html>