<div>
    <form novalidate ng-submit="updateProfile()">
        <h1 class="h3 mb-3 font-weight-normal">Изменить профиль пользователя</h1>

        <input class="form-control" type="number" hidden ng-model="profile.id">
        <div class="form-group col-md-6">
            <label for="surname">username</label>
            <input class="form-control" type="text" ng-readonly="true" ng-model="profile.username" id="username">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Пароль подтверждения</label>
            <input type="password" ng-model="profile.confirmationPassword" id="password" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="name">name</label>
            <input type=text ng-model="profile.name" id="name" class="form-control"
                   placeholder={{profile.name}}>
        </div>
        <div class="form-group col-md-6">
            <label for="surname">surname</label>
            <input type="text" ng-model="profile.surname" id="surname" class="form-control"
                   placeholder={{profile.surname}}>
        </div>
        <div class="form-group col-md-6">
            <label for="phone">phone</label>
            <input type="text" ng-model="profile.phone" id="phone" class="form-control"
                   placeholder={{profile.phone}}>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" ng-model="profile.email" id="email" class="form-control"
                   placeholder={{profile.email}}>
        </div>
        <div class="form-group col-md-6">
            <label for="birthday">birthday</label>
            <input type="text" ng-model="profile.birthday" id="birthday" class="form-control"
                   placeholder={{profile.birthday}}>
        </div>
        <div class="form-group col-md-6">
            <label for="gender">gender</label>
            <input type="text" ng-model="profile.gender" id="gender" class="form-control"
                   placeholder={{profile.gender}}>
        </div>
        <div class="form-group col-md-6">
            <label for="city">gender</label>
            <input type="text" ng-model="profile.city" id="city" class="form-control"
                   placeholder={{profile.city}}>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>