<h3>Мои события</h3>
<table class="table table-hover" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>Имя</td>
        <td>Дата</td>
        <td>Сумма</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="e in events">
        <td>{{e.name}}</td>
        <td>{{e.eventDateTime}}</td>
<!--        | date:'yyyy-MM-dd HH:mm:ss Z'}}-->
        <td>{{e.totalEventSum}}</td>
        <td>
            <button class="btn btn-success" ng-click="goToEventId(e.id)">Изменить</button>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-success" ng-click="addEvent()">Добавить событие</button>
